<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.totall.order" version="1.1.1">
  <name>Totall Order</name>
  <description>Aplicativo Totall Order para smart devices.</description>
  <author href="http://www.totall.com.br" email="comercial@totall.com.br">Totall Sistemas</author>
  <content src="index.html"/>
    <access origin="*" />
</widget>
